.editor {
    /* black */
    --vesper00: hsl(0 0% 6.72%);
    /* white */
    --vesper01: hsl(0 0 100%);
    /* yellow */
    --vesper02: 27 100% 80%;
    /* grey */
    --vesper03: hsl(0 0% 31%);
    /* blue */
    --vesper04: hsl(255 37% 77%);
    /* green */
    --vesper05: hsl(112 43% 88%);
    /* red */
    --vesper06: hsl(360 43% 74%);
    /* magenta */
    --vesper07: hsl(300 41% 76%);
    /* light grey */
    --vesper08: hsl(0 3% 80%);

    --cyan: hsl(180 90% 60%);

    .CodeMirror {
        /* Background color of main window */
        background-color: transparent;
        color: var(--vesper01);

        --fat-cursor-color: hsl(var(--vesper02));

        .CodeMirror-scroll {
            /* Color of otherwise un-styled text */
            color: var(--vesper01);
        }

        .CodeMirror-gutters {
            /* Gutter to the left */
            background-color: transparent;
            border-right: 1px solid hsl(0, 0%, 31%);
        }

        .CodeMirror-linenumber {
            /* Line numbers in the gutter */
            color: var(--vesper03);
            opacity: 0.6;
        }

        .CodeMirror-selected {
            /* Highlighed text */
            background-color: hsl(var(--vesper02) / 70%);
        }

        .CodeMirror-focused .CodeMirror-selected {
            /* Highlighed text */
            background-color: hsl(var(--vesper02));
        }

        .CodeMirror-cursor {
            /* The cursor */
            border-left: 1px solid hsl(var(--vesper02));
        }

        .CodeMirror-matchingbracket,
        .CodeMirror-matchingtag {
            /* When you click a tag/bracket and the matching one is highlighted */
            background: hsl(var(--vesper02)) !important;
            border-bottom: 1px solid var(--vesper01) !important;
        }

        .CodeMirror-foldgutter-open:after {
            /* Those little arrows in the gutter */
            color: var(--vesper03);
        }

        .CodeMirror-foldgutter-folded:after {
            /* The arrows after you collapse code */
            color: var(--vesper03);
        }

        .CodeMirror .CodeMirror-linewidget img.inline-widget {
            background: rgba(0, 0, 0, 0.05);
        }

        .CodeMirror-dialog {
            background: hsl(0 0% 6.72%);
        }

        .CodeMirror-searching {

            /* Ctrl + F results */
            background-color: var(--vesper04);

            /* Selected result */
            &.searching-current-match {
                background-color: hsl(var(--vesper02));
            }
        }
    }

    /* All 'dem swatches */

    .CodeMirror {
        .cm-quote {
            color: var(--vesper07);
            font-style: italic;
        }

        .cm-atom,
        .cm-formatting-list.cm-variable-3 {
            color: hsl(var(--vesper02));
        }

        .cm-keyword,
        .cm-formatting-list.cm-variable-2 {
            color: hsl(var(--vesper02));
        }

        .cm-url,
        .cm-string,
        .cm-string-2,
        .cm-hr {
            color: var(--cyan);
        }

        .cm-number,
        .cm-attribute,
        .cm-plus {
            color: var(--vesper01);
        }

        .cm-def,
        .cm-property {
            color: hsl(var(--vesper02));
        }

        .cm-variable {
            color: var(--vesper01);
        }

        .cm-operator,
        .cm-meta,
        .cm-bracket {
            color: var(--vesper01);
        }

        .cm-comment {
            color: hsl(var(--vesper02));
            font-style: italic;
        }

        .cm-error,
        .cm-minus {
            color: var(--vesper01);
        }

        .cm-formatting-header {
            opacity: 0.3;
        }

        .cm-header {
            color: var(--vesper08);
        }

        .cm-link {
            color: var(--vesper04);
            text-underline-position: under;
        }

        .cm-rangeinfo {
            color: var(--vesper01);
        }

        .cm-qualifier,
        .cm-builtin,
        .cm-tag {
            color: hsl(var(--vesper02));
        }

        .cm-whitespace::before {
            color: var(--vesper01);
            opacity: 0.4;
        }

        .cm-formatting-quote,
        .cm-formatting-strong,
        .cm-formatting-em {
            opacity: 0.6;
        }

        .cm-strong {
            color: hsl(var(--vesper02));
        }

        .cm-em {
            color: var(--vesper05);
        }

        /* carriage return */
        .CodeMirror-code>div>pre>span::after,
        .CodeMirror-line>span::after {
            color: var(--vesper06);
            opacity: 0.4;
        }

        .cm-inline-code {
            background: rgba(0, 0, 0, 0.02);
            color: var(--vesper06);
        }

        .gfm-codeblock-bg.CodeMirror-linebackground {
            background: rgba(0, 0, 0, 0.01);
        }

        .cm-table-sep,
        .table-row.table-row-1 {
            color: hsl(var(--vesper02));
        }

        .cm-quote.cm-link-barelink {
            font-style: normal;
            color: var(--cyan);
        }
    }

    /* Active Line Highlight support */
    .CodeMirror-activeline-background,
    .CodeMirror-activeline-gutter {
        background-color: color-mix(in srgb,
                hsl(var(--vesper02)),
                transparent 70%) !important;
    }
}
